#btn{
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight:bolder;
    font-style: italic;
    font-size: 16px;
    border: 2px solid#36434d;

}

#btn-2{
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight:bolder;
    font-style: italic;
    font-size: 16px;
    border: 2px solid#36434d;

}

.btn--dark{
    background-color: #1e2c37;
    color: #ffffff;
}

.btn--light{
    color: #36434d;
}