@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #58646d;
}

#modal-open {
  width: 30em;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 16px;
  border: 2px solid #36434d;
}

.modal-open-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#success-modal {
  position: fixed;
  top: 30vh;
  left: 0;
  z-index: 99999;
  height: 75%;
  width: 100%;
  background-color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#success-modal #success-modalcontent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  width: 80%;
  padding: 20px;
}

#success-modal .modal-upper {
  border-bottom: 1px gray solid;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin-bottom: 10px;
}

#success-modal .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#success-modal .fa-check-circle {
  color: green;
  margin-top: -65px;
  margin-right: 5px;
  font-size: 30px;
  padding-right: 5px;
}

#success-modal .modal-header {
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 0px;
  color: #36434d;
}

#success-modal .modal-text {
  font-size: 16px;
  color: #9d9d9d;
  font-weight: 600;
}

.modal-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 10px;
}

.modal-lower #btn {
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 16px;
  border: 2px solid #36434d;
}

.modal-lower #btn-2 {
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 16px;
  border: 2px solid #36434d;
}

.modal-lower .btn--dark {
  background-color: #1e2c37;
  color: #ffffff;
}

.modal-lower .btn--light {
  color: #36434d;
}

@media only screen and (min-width: 768px) {
  .modal-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #success-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40em;
    height: 21em;
    margin: auto;
    left: auto;
    padding-left: 1em;
    padding-right: 1em;
  }
  #success-modal .fa-check-circle {
    margin-top: -35px;
    margin-right: 5px;
  }
  .modal-upper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .header-container {
    margin-top: 50px;
  }
  .modal-text {
    margin-left: 25px;
  }
  .modal-lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 65%;
    margin-bottom: 2.5em;
  }
}
/*# sourceMappingURL=style.css.map */